button{
  outline: none;
  font-size: 2rem;
  font-family: var(--Serif-font);
}

.btn{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    border:none;
    padding:1rem;
    
      .navClosed{
        height:100%;
        background-image:url('~@/assets/navicon.svg');
        background-position: center;
        background-size:auto;
        background-repeat: no-repeat;
      }

      .closeX{
      font-size:2rem;
      color:black;
      }

      &.dark{
        background-color:black;
        color: white;
      }

      .cart{
      height:100%;
      background-image:url('~@/assets/bag.svg');
      background-repeat: no-repeat;
      background-size:auto;
      background-position: center;
      } 
  }

  .addBtn {
    background-color: black;
    background-image: url('~@/assets/add.svg');
    background-position: center;
    background-size: 1.8rem;
    background-repeat: no-repeat;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;
    animation: fadeIn 1s;
  }

  .confirmAdd {
    background-color: transparent;
    background-image: url('~@/assets/check-solid.svg');
    animation: fadeAndGrow 1s;
  }

  .black-btn {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 25px;
    border: transparent;
  }

  .black-btn:hover {
    background-color: var(--AirBeanBrown);
  }

  @keyframes fadeAndGrow {
    0% {
      opacity: 0;
    }

    75% {
      opacity: 1;
      transform: scale(2);
    }

    100% {
      opacity: 0;
    }
  }