button{
  outline: none;
}
.btn{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    border:none;
    padding:1rem;
    
      .navClosed{
        height:100%;
        background-image:url('~@/assets/navicon.svg');
        background-position: center;
        background-size:auto;
        background-repeat: no-repeat;
      }

      .closeX{
      font-size:2rem;
      color:black;
      }

      &.dark{
        background-color:black;
        color: white;
      }

      .cart{
      height:100%;
      background-image:url('~@/assets/bag.svg');
      background-repeat: no-repeat;
      background-size:auto;
      background-position: center;
      } 
  }

  .add-btn {
    background-color: black;
    background-image: url('~@/assets/add.svg');
    background-position: center;
    background-size: 1.8rem;
    background-repeat: no-repeat;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;
  }