*, *:after, *:before{
    margin:0;
    padding:0;
  }
  html, body, #app{
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-size:10px;
  }
  :root{
    --AirBeanGreen: #0e927d;
    --AirBeanBrown: #2f2926;
    --AirBeanPink: #f3e4e1;
    --AirBeanOrange: #e5674e;
  }
  .container{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }